@charset "utf-8";

#header {
	position: absolute;
	left: 8px;
	top: 9px;
	width: 1263px;
	height: 86px;
	z-index: 1;
}
#header2 {
	position: absolute;
	left: 8px;
	top: 104px;
	width: 1263px;
	height: 104px;
	z-index: 2;
}
#nav {
	position: absolute;
	left: 8px;
	top: 218px;
	width: 317px;
	height: 278px;
	z-index: 3;
}
#article1 {
	position: absolute;
	left: 339px;
	top: 215px;
	width: 603px;
	height: 280px;
	z-index: 4;
}
#article2 {
	position: absolute;
	left: 956px;
	top: 213px;
	width: 315px;
	height: 280px;
	z-index: 5;
}
#footer {
	position: absolute;
	left: 7px;
	top: 507px;
	width: 1264px;
	height: 114px;
	z-index: 6;
}
